// @import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);

/**
 * [fonts]
 */
$font_main: 'Noto Serif', serif;

$background_color: #F2F2F2;
$header_height: 150px;
